.heading h1 {
  color: darkslategray;
  border-bottom: 3px solid darkred;
  display: inline-block;
}

.heading {
  text-align: center;
}

.list-container {
  display: flex;
  padding: 20px 100px;
}

.user-container {
  width: 80%;
}

.cart-container {
  width: 20%;
  position: fixed;
  right: 50px;
  text-align: center;
}

.heading {
  text-align: center;
}